// Scaffolding and links
@bodyBackground: @white;
@menuTxtColor: @black;
@txtColor: @almostBlack;
@searchLink: @vividPink;

// Header
@headerBackgroundColor: @white;
@headerShadowColor: @lightGray;
@headerTopMenuTxtColor: @gray;
@headerTopMenuDividerColor: @veryLightGrayDarker;
@menuItemBackgroundColor: @white;

// Hamburger
@hamburgerBricksColor: @black;

// Popular-content
@articleBorderColor: @lightGray;
@contentBorderColor: @veryLightGray;

// Sister-content
@sisterTxtColor: @black;
@sisterBackgroundColor: @mostlyWhiteGray;
@sisterPagesBorderColor: @lightGrayLighter;
@sisterLinksDividerColor: @lightGrayDarker;
@sisterShadowColor: @veryLightGray;

// Social
@pinterestBtnLightBackgroundColor: @strongRed;
@pinterestBtnDarkBackgroundColor: @stongRedDarker;
@socialHeaderIconFill: @gray;
@socialFooterIconFill: @gray;

// Buttons
@loadBtnTxtColor: @white;
@loadBtnArrowColor: @white;

// Footer
@footerBackgroundColor: @veryDarkGray;
@footerCaptionTxtColor: @darkGray;
@footerTxtColor: @gray;
@copyrightsDividerColor: @gray;
@subscriptionPlaceholderColor: @darkGray;
@subscriptionSubmitBtnBackgroundColor: @darkGray;
@subscriptionTxtColor: @white;
@footerDividerDarkColor: @almostBlackDarker;
@footerDividerLightColor: @veryDarkGrayLighter;
