.company {
  @media @mobileOnly {
    padding-bottom: 41px;
  }

  &-title {
    .addFooterCaptionStyle();

    @media @tabletOnly {
      margin-bottom: 6px;
    }

    @media @desktop {
      margin-bottom: 16px;
    }
  }

  &-links {
    margin: 0;
    padding: 0;
    list-style: none;

    @media @mobileOnly {
      display: flex;
      justify-content: flex-start;
      align-content: stretch;
      flex-wrap: wrap;
    }

    @media @desktop {
      display: flex;
      justify-content: flex-start;
      align-content: stretch;
      flex-wrap: wrap;
    }
  }

  &-container {
    @media @mobileAndTablet{
      min-width: 74px;
      margin-right: 20px;
    }

    @media @desktop {
      min-width: 74px;
    }
  }

  &-link {
    .addFooterLinkStyle();

    transition: opacity 200ms ease-out;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
}
