.share-btn {
  position: absolute;
  right: 11px;
  bottom: 11px;
  display: none;
  width: 56px;
  height: 54px;
  background-image: linear-gradient(135deg, @pinterestBtnLightBackgroundColor, @pinterestBtnLightBackgroundColor 50%, @pinterestBtnDarkBackgroundColor 50%);
  background-repeat: no-repeat;
  transition: box-shadow 150ms ease-out;
  cursor: pointer;

  &:hover {
    box-shadow: inset 2px 2px 2px fade(@pinterestBtnLightShadowHoverColor, 30%),
    inset -2px -2px 2px fade(@pinterestBtnDarkShadowHoverColor, 30%);
  }

  &:active {
    box-shadow: inset -2px -2px 2px fade(@pinterestBtnLightShadowHoverColor, 30%),
    inset 2px 2px 2px fade(@pinterestBtnDarkShadowHoverColor, 30%);
  }

  &-hover {
    display: block;
  }

  &-icon {
    position: relative;
    top: 50%;
    left: 50%;
    fill: @white;
    transform: translateX(-50%) translateY(-50%);
  }
}
