.subscription {
  padding-bottom: 26px;

  @media @desktop {
    padding-left: 14px;
  }

  &-fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  &-caption {
    .addFooterCaptionStyle();

    font-weight: bold;

    @media @tablet {
      display: block;
    }

    @media @tablet {
      margin-bottom: 3px;
    }
  }

  &-wrapper {
    @media @mobileAndTablet {
      padding-top: 5px;
    }

    @media @desktop {
      padding-top: 1px;
    }
  }

  &-email {
    font-family: inherit;
    display: inline-block;
    padding-left: 7px;
    transition: background-color 150ms ease-out;
    vertical-align: middle;
    border: none;

    @media @mobileOnly {
      line-height: 24px;
      width: 67.6%;
      min-height: 24px;
    }

    @media @tabletOnly {
      line-height: 26px;
      width: 58.3%;
      min-height: 26px;
    }

    @media @desktop {
      line-height: 27px;
      width: 63%;
      min-height: 27px;
    }

    &:focus:invalid {
      background-color: @subscriptionEmailBackgroundColorInvalid;
    }

    &:focus:valid {
      background-color: @subscriptionEmailBackgroundColorValid;
    }

    &::placeholder {
      font-family: inherit;
      font-family: "Avenir Next LT Pro", "Tahoma", sans-serif;
      color: @subscriptionPlaceholderColor;

      @media @mobileAndTablet {
        font-size: 11px;
      }

      @media @desktop {
        font-size: 14px;
      }
    }
  }

  &-submit-btn {
    font-family: "Avenir Black", "Tahoma", sans-serif;
    line-height: 1em;
    transition: box-shadow 150ms ease-out,
    color 150ms ease-out;
    vertical-align: middle;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: @subscriptionTxtColor;
    border: none;
    background-color: @subscriptionSubmitBtnBackgroundColor;

    @media @mobileOnly {
      width: 20.8%;
      min-height: 24px;
      padding-top: 8px;
      padding-bottom: 9px;
    }

    @media @tabletOnly {
      width: 20%;
      min-height: 26px;
      padding-top: 9px;
      padding-bottom: 10px;
    }

    @media @mobileAndTablet {
      font-size: 9px;
    }

    @media @desktop {
      font-size: 11px;
      width: 22%;
      min-height: 27px;
      margin-left: 23px;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    &:hover {
      color: fade(@subscriptionTxtColor, 70%);
      box-shadow: inset 2px 2px 2px fade(@subscriptionSubmitBtnShadowLightColor, 30%),
      inset -2px -2px 2px fade(@subscriptionSubmitBtnShadowDarkColor, 30%);
    }

    &:active {
      color: fade(@subscriptionTxtColor, 30%);
      box-shadow: inset -2px -2px 2px fade(@subscriptionSubmitBtnShadowLightColor, 30%),
      inset 2px 2px 2px fade(@subscriptionSubmitBtnShadowDarkColor, 30%);
    }
  }
}
